<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConexionSGI"
			 connectionString="Data Source=DESKTOP-4975M7E\SQLEXPRESS;Initial Catalog=SGI_AsadosJehova;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>